<!doctype html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  	<!-- STYLE CSS ZEWNETRZNE -->
<link rel="stylesheet" type="text/css" media="screen" href="css/menu_up.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/menu_dropdown.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/bloki.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/background.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/stopka.css" />

	
<link rel="stylesheet" type="text/css" media="screen" href="css/angular-material.css"/>



<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js"></script>
<script type="text/javascript" src="js/ng-archivalMeasurements.js"> </script>
    
    
  </head>
  <body>
  
  <div class="bw-c"><div id="logo"><div class="TYTUL">Kraków: Serwis Pogodowy</div></div></div>
  <ol>
    <li><a href="index.html">Strona główna</a></li>

    <li><a href="#">Archiwalne</a>
      <ul>
        <li><a href="archiwum_dzien.html">Konkretny dzień</a></li>
        <li><a href="archiwum_przedzial.html">Przedział</a></li>
      </ul>
    </li>

    <li><a href="stats_dzien.html">Statystyki</a>
    <ul>
        	<li><a href="stats_dzien.html">Konkretny dzień</a></li>
        	<li><a href="stats_przedzial.html">Przedział</a></li>
      	</ul>
	</li>


    <li><a href="#">Galeria</a>
      <ul>
        <li><a href="galeria_zdjecia.html">Zdjęcia</a></li>
        <li><a href="galeria_kamery.html">Kamery on-line</a></li>
      </ul>
    </li>
    
    <li><a href="komentarz.html">Komentarze</a></li>
    
    <li><a href="#">Kontakt</a>
    	<ul>
			<li><a href="rejestracja.html">Rejestracja</a></li>
    		<li><a href="login.jsp">Zaloguj</a></li>
        	<li><a href="kontakt.html">Kontakt</a></li>
    		<li><a href="newsletter.html">Newsletter</a></li>
        </ul>
    </li>    
  </ol>
  
  
  <div id="blok_glowny"  >
  	<br/>
	<div ng-app="archivalMeasurements" ng-controller="archMeasPeriod" style="padding: 40px; width: 250px; float: left">
    <md-content>
      <h4>Początek przedziału</h4>
      <md-datepicker ng-model="myStartDate" md-placeholder="Enter date"></md-datepicker>
    </md-content>
    
    <md-content>
      <h4>Koniec przedziału</h4>
      <md-datepicker ng-model="myEndDate" md-placeholder="Enter date"></md-datepicker>
    </md-content>
  
		<br/><br/>
	 	<input type="submit" value="Szukaj" ng-click="showPeriod()"/> <br/>
		
		<div  id="blok_temperatura_aktualna"  style="margin-left: 50px">
		<p>Początek wybranego przedziału: {{myStartDate|date:'yyyy-MM-dd'}}</p>
		<p>Koniec wybranego przedziału:   {{myEndDate|date:'yyyy-MM-dd'}}</p>
			Temperatura: <div >
							<ul>
	  							<li ng-repeat="x in periodMeasurement">
	    							{{x.temperature }} °C
	  							</li>
							</ul>
							
						</div>
			Ciśnienie: <div >
							<ul>
	  							<li ng-repeat="x in periodMeasurement">
	    							{{ x.pressure }} hPa
	  							</li>
							</ul>
							
						</div> 
			Kierunek wiatru: <div >
							<ul>
	  							<li ng-repeat="x in periodMeasurement">
	    							{{ x.windDirection }} °
	  							</li>
							</ul>
							
						</div>
			Prędkość wiatru: <div >
							<ul>
	  							<li ng-repeat="x in periodMeasurement">
	    							{{ x.windSpeedAvg }} m/s
	  							</li>
							</ul>
							
						</div>
			Wilgotność: <div >
							<ul>
	  							<li ng-repeat="x in periodMeasurement">
	    							{{ x.humidity }} %
	  							</li>
							</ul>
							
						</div>
			Opad: <div >
							<ul>
	  							<li ng-repeat="x in periodMeasurement">
	    							{{ x.rain }} mm
	  							</li>
							</ul>
							
						</div>
						
						<a download="measurementArchive.txt" id="downloadlink" style="display: none">Download</a>
						<button id="create">Create file</button>
		</div>
	</div>	
</div>
  
  
  
  
  
  </body>
</html>
