<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Serwis pogodowy dla Krakowa</title>

<!-- STYLE CSS ZEWNETRZNE -->
<link rel="stylesheet" type="text/css" media="screen" href="css/menu_up.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/menu_dropdown.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/bloki.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/background.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/stopka.css" />

	
<link rel="stylesheet" type="text/css" media="screen" href="css/angular-material.css"/>



<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js"></script>
<script type="text/javascript" src="js/ng-averageTemperature.js"> </script>





</head>

<body>

	<div class="bw-c"><div id="logo"><div class="TYTUL">Kraków: Serwis Pogodowy</div></div></div>
  <ol>
    <li><a href="index.html">Strona główna</a></li>

    <li><a href="#">Archiwalne</a>
      <ul>
        <li><a href="archiwum_dzien.html">Konkretny dzień</a></li>
        <li><a href="archiwum_przedzial.html">Przedział</a></li>
      </ul>
    </li>

    <li><a href="stats_dzien.html">Statystyki</a>
    <ul>
        	<li><a href="stats_dzien.html">Konkretny dzień</a></li>
        	<li><a href="stats_przedzial.html">Przedział</a></li>
      	</ul>
	</li>


    <li><a href="#">Galeria</a>
      <ul>
        <li><a href="galeria_zdjecia.html">Zdjęcia</a></li>
        <li><a href="galeria_kamery.html">Kamery on-line</a></li>
      </ul>
    </li>
    
    <li><a href="komentarz.html">Komentarze</a></li>
    
    <li><a href="#">Kontakt</a>
    	<ul>
			<li><a href="rejestracja.html">Rejestracja</a></li>
    		<li><a href="login.jsp">Zaloguj</a></li>
        	<li><a href="kontakt.html">Kontakt</a></li>
    		<li><a href="newsletter.html">Newsletter</a></li>
        </ul>
    </li>    
  </ol>
	
<div id="blok_glowny"  ><br/>
	<div ng-app="averageTemperature" ng-controller="avrgTempPeriod" style="padding: 40px; width: 250px; float: left">
    <md-content>
      <h4>Początek przedziału</h4>
      <md-datepicker ng-model="myStartDate" md-placeholder="Enter date"></md-datepicker>
    </md-content>
    
    <md-content>
      <h4>Koniec przedziału</h4>
      <md-datepicker ng-model="myEndDate" md-placeholder="Enter date"></md-datepicker>
    </md-content>
  
		<br/><br/>
	 	<input type="submit" value="Szukaj" ng-click="showPeriod()"/> <br/>
		
		<div  id="blok_temperatura_aktualna"  style="margin-left: 50px">
		<p>Początek wybranego przedziału: {{myStartDate|date:'yyyy-MM-dd'}}</p>
		<p>Koniec wybranego przedziału:   {{myEndDate|date:'yyyy-MM-dd'}}</p>
			Średnia temperatura: {{averageTemperaturePeriod}} °C <br>
			Temperatura minimalna w przedziale:  {{minTemperaturePeriod}} °C <br>
			Temperatura maksymalna w przedziale:  {{maxTemperaturePeriod}} °C <br>
		</div>
	</div>	
</div>
	
	
	
   

	<br />
	<div id="STOPKA">
		Strona używa <span
			style="color: #3b9adb; font-style: oblique; font-weight: bold">HTML5</span>,
		<span style="color: #e34f26; font-style: oblique; font-weight: bold">CSS3</span>,
		AngularJS oraz JavaScript i silnika Webkit<br />zalecane przeglądanie
		w przeglądarkach nowszych niż: Chrome (od wersji 27) oraz Opera (od
		wersji 14)<br />Firefox standardowo nie wspiera silnika Webkit
	</div>

</body>
</html>