<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <listener>
	<listener-class>
             com.zubergu.weatherservice.other.listeners.MeasurementRefreshListener
        </listener-class>
   </listener>
  
  <display-name>PZ CWS</display-name>
   <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.zubergu.weatherservice.authentication.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DownloadScriptHandler</display-name>
    <servlet-name>DownloadScriptHandler</servlet-name>
    <servlet-class>com.zubergu.weatherservice.other.administration.DownloadScriptHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadScriptHandler</servlet-name>
    <url-pattern>/DownloadScriptHandler</url-pattern>
  </servlet-mapping>
</web-app>